<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=SQL8006.site4now.net;Initial Catalog=db_aa9dde_tictactoe;User Id=db_aa9dde_tictactoe_admin;Password=Qwerty_009_008" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>