USE [master]
GO
/****** Object:  Database [db_aa9dde_tictactoe]    Script Date: 05.07.2024 3:22:47 ******/
CREATE DATABASE [db_aa9dde_tictactoe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_aa9dde_tictactoe_Data', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_aa9dde_tictactoe_DATA.mdf' , SIZE = 8192KB , MAXSIZE = 1024000KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'db_aa9dde_tictactoe_Log', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_aa9dde_tictactoe_Log.LDF' , SIZE = 3072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_aa9dde_tictactoe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_aa9dde_tictactoe]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 05.07.2024 3:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[Result] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Moves] [nvarchar](max) NULL,
	[BotLevel] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 05.07.2024 3:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](600) NULL,
	[IsDeleted] [bit] NOT NULL,
	[GamesPlayed] [int] NOT NULL,
	[Wins] [int] NOT NULL,
	[Losses] [int] NOT NULL,
	[Draws] [int] NOT NULL,
	[LastLogin] [datetime] NULL,
	[Salt] [nvarchar](600) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [GamesPlayed]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [Wins]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [Losses]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [Draws]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([Id])
GO
USE [master]
GO
